.cocktail-image {
    width: 100%;
    border-radius: 10px;
}


.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 15px;
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    text-align: center;
}

.button-inside-input {
    position: relative;
}

.search-bar {
    margin-bottom: 16px;
    font-size: 15px;
}

.item-title {
    font-size: 24px;
    color: rgb(13, 77, 0);
    font-family: 'Pacifico', cursive;

}
