.ingredient-title {
    /* text-align: left; */
}

.ingredients-measurements {
    display: flex;
}

.ingredients {
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
}

.glass {
    text-align: left;
}