.ingredient-title {
 margin-bottom: 16px;
}

.ingredients-measurements {
    display: flex;
    margin-bottom: 16px;
}

.ingredients {
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
}

.glass {
    text-align: left;
    margin-bottom: 16px;
}